<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootmybatis.repository.PostMapper">
    <select id="selectAllPosts"
            resultType="com.example.springbootmybatis.entity.Posts">
        select id, user_id, title, createAt from posts
        order by id desc
    </select>
    <select id="selectAllByUser_id"
            resultType="com.example.springbootmybatis.entity.Posts"
            parameterType="string">
        select user_id, id createAt from posts
        order by user_id desc
    </select>
    <select id="selectPostById"
            resultType="com.example.springbootmybatis.entity.Posts"
            parameterType="string">
        select id, user_id, title, contents,createAt from posts
        where id=#{id}
    </select>
    <insert id="insertPost"
            parameterType="com.example.springbootmybatis.entity.Posts">
        insert into posts(id, user_id, title, contents) values(#{id}, #{user_id}, #{title}, #{contents})
    </insert>
    <update id="updatePost"
            parameterType="com.example.springbootmybatis.entity.Posts">
        update posts set title=#{title}, contents=#{contents} where id=#{id}
    </update>
    <delete id="deletePost"
            parameterType="string">
        delete from posts where id=#{id}
    </delete>
</mapper>